<div class="flex h-screen">
    <!-- Sidebar -->
    <div class="w-64 bg-[#679436] text-white flex flex-col items-center fixed h-full">
      <div class="p-4 flex flex-col items-center space-y-2">
        <img src="GC-Logo.png" alt="Logo" class="w-24 h-24 object-contain">
        <h1 class="text-2xl font-bold">GC-ORGANIZE</h1>
      </div>
      <nav class="flex-1 px-2 py-4 w-full">
        <button [routerLink]="'/sidebar/home'" class="flex items-center px-4 py-2 mt-2 text-lg font-semibold text-white rounded-lg hover:bg-[#56732e] w-full cursor-pointer">
          <i class="fas fa-home mr-2 text-xl"></i> Home
        </button>
        <button [routerLink]="'/sidebar/eventsreg'" class="flex items-center px-4 py-2 mt-2 text-lg font-semibold text-white rounded-lg hover:bg-[#56732e] w-full cursor-pointer">
          <i class="fas fa-calendar-check mr-2 text-xl"></i> Events Registered
        </button>
        <button class="flex items-center px-4 py-2 mt-2 text-lg font-semibold text-white rounded-lg hover:bg-[#56732e] w-full cursor-pointer">
          <i class="fas fa-certificate mr-2 text-xl"></i> E-Certificates
        </button>
        <button class="flex items-center px-4 py-2 mt-2 text-lg font-semibold text-white rounded-lg hover:bg-[#56732e] w-full cursor-pointer">
          <i class="fas fa-info-circle mr-2 text-xl"></i> About
        </button>
      </nav>      
    </div>

    <!-- Main Content Area -->
    <div class="ml-64 flex-1 overflow-y-auto h-screen">
        <router-outlet></router-outlet>
    </div>
</div>
